body{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffebee;
	margin-bottom: 200px;
	transition: all 1s;
}

nav{
	width: 150px;
	height: 100vh;
	padding: 100px 20px;
	background-color: rgb(235, 251, 255);
	position: fixed;
	right: -190px;
	top: 0;
	transition: right 0.9s;
}

nav.show{
	right: 0px;
}

.navItem{
	margin-bottom: 20px;
}

.hamburger{
	position: fixed;
	top: 50px;
	right: 50px;
	z-index: 10;
	cursor: pointer;
}

.bun{
	height: 4px;
	width: 30px;
	border-radius: 2px;
	background-color: #110533;
	margin-bottom: 3px;
	
}

h1{
	font-size: 50px;
}

img{
	width: 150px;
}

.song{
	margin: 20px auto;
	width: 50%;
    background-color: rgb(235, 251, 255);
	height: 200px;
	border-radius: 4px;
	color: darkcyan;
	display: flex;
	align-items: center;
	position: relative;
	top: 100px;
	transition: top 0.4s, opacity 0.4s;
	opacity: 0;
}

.songtext{
	text-align: left;
	margin-left: 50px;
	font-size: 20px;
}

.song.slide{
	top: 0;
	opacity: 1;
}

button{
	padding: 13px;
	margin: auto;
	background-color: rgb(48, 48, 48);
	border: 2px solid grey;
	color: white;
	border-radius: 5px;
}

body.dark{
	background-color: rgb(37, 37, 37);
	color: white;
}

button.dark{
	background-color: white;
	border: 2px solid grey;
	color: rgb(48, 48, 48);
}

.song.dark{
	background-color: rgb(56, 56, 59);
	color: white;
}

nav.dark{
	background-color: rgb(56, 56, 59);
}



